.conteiner {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inputContainer {
  width: 350px;
  display: flex;
  align-items: center;
  /* border-bottom: 0.125rem solid rgb(50, 145, 223); */
  padding: 0.5rem 0;
}

.inputField {
  flex-grow: 1;
  appearance: none;
  /* background: transparent; */
  border: none;
  width: 100%;
  color: #4a5568;
  /* margin-right: 0.75rem; */
  padding: 4px;
  line-height: 1.5;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border-radius: 0.25rem; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.submitButton {
  flex-shrink: 0;
  background: #ffffff;
  border: 0.125rem solid rgb(255 255 255);
  color: #4a5568;
  font-size: 0.875rem;
  padding: 6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.submitButton:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

@media only screen and (max-width: 720px) {
  .inputContainer {
    width: 286px;
  }

  .inputField {
    width: 250px;
  }
}
