.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 711px;
  justify-content: center;
}
.sectiona {
  padding-top: 10px;
  padding-bottom: 10px;
}
.content {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}
.castListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.autor {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infoRev {
  text-align: center;
  color: aliceblue;
  margin: 15px;
  background-color: rgb(236, 133, 96);
  border-radius: 10px;
  display: flex;

  justify-content: center;
  padding: 5px;
}

@media only screen and (max-width: 720px) {
  .container {
    width: 330px;
    justify-content: center;
  }
}
