.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 630px;
}

.movieListImg:hover,
.movieListImg:focus {
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.movieListDesc {
  padding-top: 5px;
}

.spanConteiner {
  font-weight: bold; /* Сделать текст жирным */
  color: rgb(
    39,
    39,
    40
  ); /* Серый цвет текста, замените #888 на нужный вам серый цвет */
}
